.container{
	background: #f8f8ff;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


.form{
	display: flex;
	flex-direction: column;
	padding: 20px;
}


.container .logBut{
	margin-top: 10px;
	background: #3f51b5;
	color: white;
}